:host {
    display: flex;
    position: relative;
    justify-content: center;
    background: var(--theme-gradient);
    z-index: 1;
    flex: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 2px;
        background: var(--theme-background-color-two);
        border-radius: 15px;
        opacity: .95;
    }

    .content {
        position: relative;
        z-index: 1;
        margin: 75px;
        flex: 1;
    }

    .shell__glow-big {
        &::before {
            content: "";
            box-shadow: 0 2px 160px 180px var(--theme-text-color-two);
        }
    }
}
