:host {
    position: relative;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-content: center;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.theme__logo {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    padding: 2px;
    display: flex;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: radial-gradient(circle, var(--theme-background-color) 0%, var(--theme-text-color) 35%, var(--theme-text-color-two) 100%);
		animation: rotate 30s linear infinite;
	}
	
	&::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 2px;
        top: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: var(--theme-background-color);
	}
}

.theme__logo--text {
    position: relative;
    font-weight: bolder;
}
