<div class="fourzerofour__content">
  <b>{{ quote.author }}</b>
  <div class="fourzerofour__quote">
    <div class="fourzerofour__message">
      {{ quote.message }}
    </div>
    <div class="fourzerofour__quotation root__theme-overlay-text-gradient">
      "
    </div>
  </div>
  <small>404 - Not Found</small>
  <a id="page-not-found-back" data-toggle="tooltip" data-placement="bottom" title="Hooray!" href="/"><mat-icon>first_page</mat-icon></a>
</div>
<div class="fourzerofour__splash">
  <img class="fourzerofour__space" src="../../../assets/images/404.png">
  <img class="fourzerofour__astronaut" src="../../../assets/images/404-astronaut.png">
</div>
