:host {
    width: 80%;
    display: block;

    .solutions-header {
        display: block;
        font-size: 1.5rem;
    }

    .solutions-images {
        display: flex;
        flex-wrap: wrap;
        min-height: 150px;
        gap: 50px;
        align-items: center;
        margin-right: 50px;

        > img {
            max-height: 80px;
            width: auto;
            filter: grayscale(1.0) brightness(1.1);

            &:hover {
                filter: brightness(1.1);
            }
        }
    }

    #and-more-tooltip {
        cursor: pointer;
    }
}
