
:root {
    // Base
    --theme-text-for-gradient: #fff;
    --theme-text-neutral: #505050;
    --theme-text-color: #6167af;
    --theme-text-color-two: #1fe995;
    --theme-background-color: rgb(255, 255, 255);
    --theme-background-color-two: rgb(220, 220, 220);
    --theme-gradient: linear-gradient(72deg, #6167af 0%, rgba(153,153,233,1) 35%, rgba(31,233,149,1) 100%);
}


