:host {
    --border-size: 1px;
    --dash-size: 4px;

    width: 100%;
    display: flex;
    flex-direction: column;

    .architecture__arrows {
        font-size: 3rem;
        width: 30px;
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .architecture__box {
        position: relative;
        flex: 1;
        width: 100%;
        padding: 30px;

        &::before {
            content: "";
            inset: 0;
            opacity: .8;
            position: absolute;
            background-image: url(../../../assets/images/tileOne.jpg);
            background-size: cover;
            pointer-events: none;
        }

        &::after {
            content: "";
            inset: 3px;
            position: absolute;
            pointer-events: none;
            background: var(--theme-background-color);
            opacity: .9;
            z-index: 1;
            border-radius: 15px;
        }

        .architecture__box-item {
            position: relative;
            padding: 4px;
            justify-content: flex-end;
        }

        .architecture__box-traffic {
            display: flex;
            justify-content: space-between;

            > div {
                display: flex;
                justify-content: center;
                width: 60px;
                margin: 0;
                z-index: 2;
            }
        }

        .architecture__box-commons {
            background-color: var(--theme-background-color);
        }

        .architecture__box-component {
            background-color: var(--theme-background-color-two);
        }
    }

    .architecture__box-front-end, .architecture__box-application-layer, .architecture__box-back-end {
        margin: 4px;
        padding: 3px;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 15px;
        z-index: 2;

        p {
            margin: 0;
        }
    }

    .architecture__box-commons, .architecture__box-component {
        p {
            text-align: right;
        }
    }

    .architecture__box-front-end {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .2;
            pointer-events: none;
        }
    }

    .architecture__box-application-layer {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .2;
            transform: rotate(180deg);
            pointer-events: none;
        }
    }

    .architecture__box-back-end {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .2;
            transform: rotate(180deg);
            pointer-events: none;
        }
    }
}