<div class="architecture__arrows root__theme-overlay-text-gradient">
    ⇅
</div>
<p style="
    margin: 0;
    text-align: right;
    height: 0;
    position: relative;
    top: -21px;
">Application architecture.</p>
<div class="architecture__box">
    <div  SharedDomEvent [type]="'leftIntoView'" class="architecture__box-front-end base__leftIntoView">
        <div style="flex: 1">
            <b>webpack module federation</b>
            <p>framework: <small>Angular v16.2.0</small></p>
            <p>path: <small>/</small></p>
            <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            <p>webserver: <small>NGINX</small></p>
        </div>

        <div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-end; flex: 2;">
            <div class="architecture__box-item architecture__box-commons">
                <b>commons web services</b>
                <p>framework: <small>tsc</small></p>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>

            <div class="architecture__box-item architecture__box-commons">
                <b>cicd implementation (todo)</b>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>

            <div class="architecture__box-item architecture__box-component">
                <b>webpack module federation child</b>
                <p>framework: <small>Angular v16.2.0</small></p>
                <p>path: <small>/maps</small></p>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
                <p>webserver: <small>NGINX</small></p>
            </div>

            <div class="architecture__box-item architecture__box-component">
                <b>webpack module federation child</b>
                <p>framework: <small>Vue.js v</small></p>
                <p>path: <small>/charts</small></p>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
                <p>webserver: <small>NGINX</small></p>
            </div>

            <div class="architecture__box-item architecture__box-component">
                <b>webpack module federation child</b>
                <p>framework: <small>ReactJS v</small></p>
                <p>path: <small>/components</small></p>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
                <p>webserver: <small>NGINX</small></p>
            </div>
        </div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="architecture__box-traffic base__leftIntoView">
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="architecture__box-application-layer base__leftIntoView">
        <div style="flex: 1">
            <b>dotnet api</b>
            <p>framework: <small>dotnet core 8</small></p>
            <p>path: <small>/api/v1</small></p>
            <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
        </div>

        <div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-end; flex: 2;">
            <div class="architecture__box-item architecture__box-commons">
                <b>dotnet core 8 commons</b>
                <p>framework: <small>dotnet core 8</small></p>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>

            <div class="architecture__box-item architecture__box-commons">
                <b>cicd implementation (todo)</b>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>
        </div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="architecture__box-traffic base__leftIntoView">
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
        <div class="architecture__arrows root__theme-overlay-text-gradient">
            ⇅
        </div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="architecture__box-back-end base__leftIntoView">
        <div style="flex: 1">
            <b>mongodb cloud instance</b>
            <p>framework: <small>MongoDB v6.3.2</small></p>
            <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            <p>cloud provider: <small>DigitalOcean</small></p>
        </div>

        <div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-end; flex: 2;">
            <div class="architecture__box-item architecture__box-commons">
                <b>various scripting (todo)</b>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>

            <div class="architecture__box-item architecture__box-commons">
                <b>cicd implementation (todo)</b>
                <p>github: <small class="underline hover:no-underline text-theme-green-600 hover:text-theme-green-800">Link</small></p>
            </div>
        </div>
    </div>
</div>

