
<div class="welcome-splash">
    <!-- Section 1 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-icon group flex relative hover:text-theme-green-400">
            <mat-icon>
                terminal
            </mat-icon>
        </div>
        <div class="welcome-splash__section-guide-line"></div>
    </div>
    <div class="welcome-splash__section">
        <h1 style="pointer-events:  none;">
            Tillie Studios. Software architecture at scale. Central Florida.
        </h1>
        <h2>Software architecture at scale.</h2>
        <h3>Tillie Studios
            <span class="terminal__one">
                ~
            </span>
            <span class="terminal__two">
                $
            </span>
            <span class="terminal__blinking">|</span>
        </h3>
    </div>

    <!-- Section 2 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-empty"></div>
        <div class="welcome-splash__section-guide-text">
            Get Connected
        </div>
        <div class="welcome-splash__section-guide-empty"></div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="welcome-splash__section base__leftIntoView">
        <shell-get-connected></shell-get-connected>
    </div>

    <!-- Section 3 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-line"></div>
        <div class="welcome-splash__section-guide-icon"></div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="welcome-splash__section base__leftIntoView">
        <shell-solutions></shell-solutions>
        <hr class="m-0 mb-50">
    </div>

    <!-- Section 4 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-empty"></div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="welcome-splash__section welcome-splash__card base__leftIntoView">
        <shell-card style="overflow: hidden;" class="welcome-splash__tile">
            <h3>Why</h3>
            <div class="welcome-splash__what-we-do">
                <div>
                    <b>We do what we do:</b>
                    <p>
                        Advancing technology enriches lives by seamlessly connecting people, fostering creativity,
                        and providing tools that empower individuals to learn, communicate, and express themselves,
                        ultimately enhancing the human experience and promoting a more interconnected and inclusive
                        global community.
                    </p>
                    <p>
                        While we have to work to surive, many of our team members offer unlicensed code on GitHub.
                        Including this application. By freely sharing and building much of our public work on GitHub,
                        we collectively contribute to a more accessible, inclusive, and participatory technological
                        landscape that empowers people to shape the future collaboratively.
                    </p>
                </div>
                <div>
                    <b>This page exists:</b>
                    <p>
                        This is an ode to family, friends, mentors and the teams that have helped in some form to teach
                        and support us. Your patience has been invaluable. This is a sandbox, portfolio and
                        demonstration of many technologies offered by the team. Everything is public. Do what you will
                        with the work and concepts -- all work we have done in the GitHub is unlicensed. We are in this
                        together.
                    </p>
                    <span style="opacity: .2; position: relative; left: 50%;"></span>
                </div>
            </div>

        </shell-card>
    </div>

    <!-- Section 5 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-empty"></div>
        <div class="welcome-splash__section-guide-icon"></div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" class="welcome-splash__section welcome-splash__card base__leftIntoView">
        <shell-card style="overflow: hidden;" class="welcome-splash__tile_two">
            <span style="opacity: .2; float: right;"></span>
            <h3>Employment</h3>
            <ol>
                <li>CareAI -- Healthcare x AI</li>
            </ol>
        </shell-card>
        <shell-card style="overflow: hidden;" class="welcome-splash__tile_three">
            <span style="opacity: .2;"></span>
            <h3>Personal Projects</h3>
            <ol>
                <li>Webpack module federations</li>
                <li>OpenCV</li>
                <li><a href="https://github.com/coffeestained" target="_blank">See more</a></li>
            </ol>
        </shell-card>
    </div>

    <!-- Section 6 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-line"></div>
        <div style="
            height: 5%;
            display: flex;
            justify-content: center;
        " class="welcome-splash__section-guide-icon">

        </div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" style="min-height: 350px;" class="welcome-splash__section base__leftIntoView">
    </div>

    <!-- Section 7 -->
    <div SharedDomEvent [type]="'downIntoView'" class="welcome-splash__section-guide base__downIntoView">
        <div class="welcome-splash__section-guide-empty"></div>
    </div>
    <div SharedDomEvent [type]="'leftIntoView'" style="left: -112.5px;" class="welcome-splash__section welcome-splash__card welcome-splash__small-margin">
        <shell-architecture></shell-architecture>
    </div>

</div>
