<small class="solutions-header mt-50 mb-50">
    Delivering solutions using industry leading products:
</small>
<div class="solutions-images mb-50">
    <!-- MySQL -->
    <img *ngIf="show >= 1" src="../../../assets/images/mysql.png" alt="MySQL" >

    <!-- MongoDB -->
    <img *ngIf="show >= 2" src="../../../assets/images/mongodb.png" alt="MongoDB" >

    <!-- PostgreSQL -->
    <img *ngIf="show >= 3" src="../../../assets/images/postgres.png" alt="PostgreSQL" >

    <!-- Node.js -->
    <img *ngIf="show >= 4" src="../../../assets/images/nodejs.png" alt="Node.js" >

    <!-- TypeScript -->
    <img *ngIf="show >= 5" src="../../../assets/images/typescript.png" alt="TypeScript" >

    <!-- Python -->
    <img *ngIf="show >= 6" src="../../../assets/images/python.png" alt="Python" >

    <!-- C# -->
    <img *ngIf="show >= 7" src="../../../assets/images/cpp.png" alt="C#" >

    <!-- .NET Core -->
    <img *ngIf="show >= 8" src="../../../assets/images/dotnetcore.png" alt=".NET Core" >

    <!-- React -->
    <img *ngIf="show >= 9" src="../../../assets/images/react.png" alt="React" >

    <!-- Angular -->
    <img *ngIf="show >= 10" src="../../../assets/images/angular.png" alt="Angular" >

    <!-- Vue.js -->
    <img *ngIf="show >= 11" src="../../../assets/images/vue.png" alt="Vue.js" >

    <!-- Webpack -->
    <img *ngIf="show >= 12" src="../../../assets/images/webpack.png" alt="Webpack" >

    <!-- Vite -->
    <img *ngIf="show >= 13" src="../../../assets/images/vite.png" alt="Vite" >

    <!-- AWS -->
    <img *ngIf="show >= 14" src="../../../assets/images/aws.png" alt="AWS" >

    <!-- Google Cloud Platform -->
    <img *ngIf="show >= 15" src="../../../assets/images/gcp.png" alt="Google Cloud Platform" >

    <!-- Azure -->
    <img *ngIf="show >= 16" src="../../../assets/images/azure.png" alt="Azure" >

    <!-- HL7 FHIR -->
    <img *ngIf="show >= 17" src="../../../assets/images/hl7fhir.png" alt="HL7 FHIR" >

    <!-- ESRI -->
    <img *ngIf="show >= 18" src="../../../assets/images/esri.png" alt="ESRI" >

    <!-- WebRTC -->
    <img *ngIf="show >= 19" src="../../../assets/images/webrtc.png" alt="WebRTC" >
    <div id="and-more-tooltip" class="group flex relative hover:text-theme-green-600">
        <mat-icon *ngIf="show >= 17" >
            add_circle
        </mat-icon>
        <span class="group-hover:opacity-100 group-hover:z-50 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
        -translate-x-1/2 translate-y-full opacity-0 mx-auto pointer-events-none">And More</span>
    </div>
</div>
