<small class="solutions-header mt-50 mb-50">
    Delivering solutions using industry leading products:
</small>
<div class="solutions-images mb-50">
    <!-- MySQL -->
    <img src="https://www.mysql.com/common/logos/logo-mysql-170x115.png" alt="MySQL" >

    <!-- MongoDB -->
    <img src="https://www.mongodb.com/assets/images/global/leaf.png" alt="MongoDB" >

    <!-- PostgreSQL -->
    <img src="https://www.postgresql.org/media/img/about/press/elephant.png" alt="PostgreSQL" >

    <!-- Node.js -->
    <img src="https://nodejs.org/static/images/logo.svg" alt="Node.js" >

    <!-- TypeScript -->
    <img src="https://www.typescriptlang.org/icons/icon-48x48.png" alt="TypeScript" >

    <!-- Python -->
    <img src="https://www.python.org/static/community_logos/python-logo.png" alt="Python" >

    <!-- C# -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C#" >

    <!-- .NET Core -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Microsoft_.NET_logo.svg" alt=".NET Core" >

    <!-- React -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React" >

    <!-- Angular -->
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" >

    <!-- Vue.js -->
    <img src="https://vuejs.org/images/logo.png" alt="Vue.js" >

    <!-- Webpack -->
    <img src="https://webpack.js.org/assets/icon-square-big.svg" alt="Webpack" >

    <!-- Vite -->
    <img src="https://vitejs.dev/logo.svg" alt="Vite" >

    <!-- AWS -->
    <img src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png" alt="AWS" >

    <!-- Google Cloud Platform -->
    <img src="https://cloud.google.com/images/cloud-logo.svg" alt="Google Cloud Platform" >

    <!-- Azure -->
    <img src="https://azure.microsoft.com/en-us/support/media/azure-support.svg" alt="Azure" >

    <!-- HL7 FHIR -->
    <img src="https://www.hl7.org/fhir/assets/images/fhir-logo-www.png" alt="HL7 FHIR" >

    <!-- ESRI -->
    <img src="https://www.esri.com/content/dam/esrisites/en-us/common/icons/esri-globe-logo-1200x630.png" alt="ESRI" >

    <!-- WebRTC -->
    <img src="https://webrtc.org/assets/images/webrtc-logo-vert-retro-255x305.png" alt="WebRTC" >
    <div id="and-more-tooltip" class="group flex relative hover:text-theme-green-600">
        <mat-icon *ngIf="show >= 17" >
            add_circle
        </mat-icon>
        <span class="group-hover:opacity-100 group-hover:z-50 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
        -translate-x-1/2 translate-y-full opacity-0 mx-auto">And More</span>
    </div>
</div>
