<small class="solutions-header mt-50 mb-50">
    Delivering solutions using industry leading products:
</small>
<div class="solutions-images mb-50">
    <img *ngIf="show >= 1" alt="MySQL Logo" src="./assets/images/mysql-logo.png">
    <img *ngIf="show >= 2" alt="MongoDB Logo" src="./assets/images/mongodb-logo.png">
    <img *ngIf="show >= 3" alt="Node Logo" src="./assets/images/node-logo.png">
    <img *ngIf="show >= 4" alt="Dotnet Logo" src="./assets/images/dotnet-logo.png">
    <img *ngIf="show >= 5" alt="Python Logo" src="./assets/images/python-logo.png">
    <img *ngIf="show >= 7" alt="Webpack Logo" src="./assets/images/webpack-logo.png">
    <img *ngIf="show >= 8" alt="React Logo" src="./assets/images/react-logo.png">
    <img *ngIf="show >= 9" alt="Angular Logo" src="./assets/images/angular-logo.png">
    <img *ngIf="show >= 10" alt="Vue Logo" src="./assets/images/vue-logo.png">
    <img *ngIf="show >= 11" alt="AWS Logo" src="./assets/images/aws-logo.png">
    <img *ngIf="show >= 12" alt="GCP Logo" src="./assets/images/gcp-logo.png">
    <img *ngIf="show >= 13" alt="Azure Logo" src="./assets/images/azure-logo.png">
    <img *ngIf="show >= 14" alt="HL7 Logo" src="./assets/images/hl7-fhir-logo.png">
    <img *ngIf="show >= 15" alt="Esri Suite Logo" src="./assets/images/esri-logo.png">
    <img *ngIf="show >= 16" alt="NGINX Logo" src="./assets/images/nginx-logo.png">
    <div id="and-more-tooltip" class="group flex relative hover:text-theme-green-600">
        <mat-icon *ngIf="show >= 17" >
            add_circle
        </mat-icon>
        <span class="group-hover:opacity-100 group-hover:z-50 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
        -translate-x-1/2 translate-y-full opacity-0 mx-auto">And More</span>
    </div>
</div>
