<a *ngIf="show >= 1" @rightInOut href="https://www.linkedin.com/in/matthew-grady-orlando/" target="_blank">
    <spa-button class="mt-20 mb-20" text="LinkedIn"></spa-button>
</a>
<a *ngIf="show >= 2" @rightInOut href="https://github.com/coffeestained" target="_blank">
    <spa-button
    buttonStyle="primaryStyle" buttonColoring="primaryColor"
    class="mt-20 mb-20" text="GitHub"></spa-button>
</a>
<spa-button *ngIf="show >= 3" @rightInOut
    buttonStyle="secondaryStyle" buttonColoring="secondaryColor"
    class="mt-20 mb-20" text="Email" (click)="email()"></spa-button>
